:root {
    scroll-behavior: smooth;
    --primary-color: rgb(0, 11, 118);
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4b5461;
    font-size: 14px;
    padding-top: 69px
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Poppins', sans-serif;
    color: #252930;
    font-weight: 500
}

code {
    background: #2d309316;
    padding: 0.25rem 0.3rem;
    border-radius: .2rem;
}

.form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    height: 2.5rem;
    border-color: #f4f7fc
}

.form-control:focus {
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.12);
    outline: none
}

.theme-icon-holder {
    background: #2d309316;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 27px;
    padding: 4px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%
}

.border-radius-0 {
    border-radius: 0
}

.font-style-normal {
    font-style: normal !important
}

.single-col-max {
    max-width: 800px
}

.social-list li {
    font-size: 1.125rem;
    background: #2d309316;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px
}

.social-list li a {
    color: var(--primary-color)
}

.social-list li a:hover {
    color: var(--primary-color)
}

.social-list li:not(:last-child) {
    margin-right: 0.875rem
}

.header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff
}

.btn-success, .btn-warning, .btn-info, .btn-danger {
    color: #fff
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    color: #fff
}


.docs-overview .card {
    border-color: #e7e9ed;
    position: relative;
    height: 100%
}

.docs-overview .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    background: #2d309316
}

.docs-overview .card:hover .card-icon-holder {
    background: #fff
}

.docs-overview .card-icon-holder {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    padding-top: 1rem;
    display: inline-block
}

.docs-overview .card-title-text {
    display: inline-block;
    position: relative;
    top: -0.3rem
}

.docs-overview .card-link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.search-form {
    position: relative;
    width: 100%
}

.search-form .search-input {
    font-size: 0.875rem;
    border-radius: 1.5rem;
    padding-right: 3rem;
    padding-left: 1.5rem
}

.search-form .search-input:focus {
    border-color: #e7e9ed
}

.search-form .search-btn {
    color: #828d9f;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0.15rem;
    margin-right: 0
}

.search-form .search-btn:active, .search-form .search-btn:focus, .search-form .search-btn:hover {
    outline: none !important;
    color: var(--primary-color);
    box-shadow: none !important;
}

.docs-branding {
    min-height: 69px
}

.docs-branding .top-search-box {
    width: 300px
}

.docs-logo-wrapper {
    position: absolute;
    left: 27px;
    top: 0.5rem
}

.docs-logo-wrapper .site-logo {
    display: inline-block;
    width: 130px;
}

.docs-top-utilities {
    padding-top: 4px
}

.docs-sidebar-toggler {
    display: inline-block;
    border: 1px solid silver;
    padding: 2px 3px;
    border-radius: 3px;
    font-size: inherit;
    position: relative;
    background: none
}

.docs-sidebar-toggler:focus {
    outline: none
}

.docs-sidebar-toggler:hover span {
    opacity: 1
}

.docs-sidebar-toggler span {
    display: block;
    background-color: #252930;
    height: 2px;
    width: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    -moz-opacity: .8;
    opacity: .8;
    border-radius: 1px
}

.docs-wrapper {
    position: relative
}

.docs-sidebar {
    display: none;
    width: 300px;
    position: fixed;
    z-index: 10;
    top: 69px;
    height: calc(100% - 69px);
    background: #fff;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) #f5f5f5;
    scrollbar-width: thin;
    transition: -webkit-transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.1)
}

.docs-sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

.docs-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: .5rem
}

@media (prefers-reduced-motion: reduce) {
    .docs-sidebar {
        transition: none
    }
}

.docs-sidebar.sidebar-visible {
    transform: translateX(0);
    display: block
}

.docs-sidebar.sidebar-hidden {
    transform: translateX(-300px);
    display: block
}

.docs-nav {
    overflow-y: auto;
    padding: 1rem
}

.docs-nav .section-title {
    font-size: 1rem;
    margin-bottom: 1rem
}

/*.docs-nav .section-title a:hover {*/
/*    text-decoration: none*/
/*}*/

.docs-nav .section-items {
    font-size: 0.875rem;
    position: relative
}

.docs-nav .nav-item {
    margin-left: 2.5rem
}

.docs-nav .nav-item.section-title {
    margin-left: 0
}

.docs-nav .nav-item.section-title .nav-link {
    padding: 0.22em 0
}

.docs-nav .nav-item.section-title .nav-link:before {
    display: none
}

.docs-nav .nav-item.active .nav-link {
    color: var(--primary-color)
}

.docs-nav .nav-item.active .nav-link:before {
    background-color: var(--primary-color)
}

.docs-nav .nav-item.active .nav-link .theme-icon-holder {
    color: #fff;
    background: var(--primary-color)
}

.docs-nav .nav-link {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    color: #595C5F
}

.docs-nav .nav-link {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

.docs-nav .nav-item.active {
    color: var(--primary-color)
}

.docs-nav .nav-link.active:before {
    background-color: var(--primary-color)
}

.docs-nav .nav-link.active .theme-icon-holder {
    color: #fff;
    background: var(--primary-color)
}

.docs-nav .nav-link:before {
    background-color: #2d309316;
    content: ' ';
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute;
    width: 3px;
    height: 100%;
    border-radius: 1rem
}

.docs-content {
    margin-left: 300px;
}

.docs-article {
    padding: 2rem;
    color: #595C5F;
    scroll-margin-top: 69px;
}

.docs-article strong {
    color: #252930
}

.docs-article .docs-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative
}

.docs-article .docs-time {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    color: #747f94
}

.docs-article .docs-section {
    padding-bottom: 1.5rem;
}

.docs-article .section-heading {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
    color: #252930
}

.docs-article h5, .docs-article .h5 {
    font-size: 1rem;
    color: #464e5b;
    scroll-margin-top: 89px
}

.docs-sidebar nav .nav-item.active .nav-link,
.docs-sidebar nav .nav-item:active .nav-link,
.docs-sidebar nav .section-title .nav-link,
.docs-sidebar nav .nav-link:hover {
    display: flex;
    align-items: center;
    background: #2d309316;
    border-radius: 3px;
    font-weight: 400;
    transition: all 0.3ms ease-in-out;
    color: var(--primary-color) !important;
}

.docs-nav .nav-link:hover::before {
    background-color: var(--primary-color) !important;
}

.docs-sidebar nav .nav-link {
    margin-top: 5px;
    color: var(--body-color) !important;
}

@media (max-width: 1199px) {
    .docs-content {
        margin-left: 0
    }

    .docs-article .docs-time {
        position: static;
        display: block;
        padding-top: 0.5rem
    }
}